/.bundle/
/vendor/
/package/

gemfiles/*.lock

Gemfile.lock
Gemfile.local
.ruby-version
*.gem

.env
.env.development
.env.test

# AWS CDK
*.js
!jest.config.js
*.d.ts
node_modules

.cdk.staging
cdk.out
